* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    padding: 0px;
    margin: 0px;
    outline: none;
    
}
body {
    --primaryColor: #002868;
    --headColor:#BF0A30;
    --textColor:#333333;
    --textSecond:white;
    --input:#D8D8D8;
    font-size: 16px;
    color: black;
    height: 100%;
}