
* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    padding: 0px;
    margin: 0px;
    outline: none;
}

html {
    height: 100%;
}

body {
    --primaryColor: rgb(199, 110, 75);
    --headColor:#393939;
    /* --lightPrimaryColor: rgb(164, 149, 199);
    --secondaryColor: rgb(130, 56, 133); */
    --maxWrapperWidth: 1100px;
    --textColor:#666;
    
    /* background-color: beige; */
    font-family: serif;
    font-size: 16px;
    color: black;
    height: 100%;
}

div.wrapper {
    width: 100%;
    max-width: var(--maxWrapperWidth);
    /* min-height: 100%; */
    /* border: solid 2px rgb(192, 0, 0); */
    margin: auto;
}
